---
import styles from './navigation.module.css'
import ThemeSwitcher from './ThemeSwitcher.astro'

const pathname = Astro.url.pathname

const isActive = (href: string) => {
  if (href === '/') {
    return pathname === '/'
  }

  return pathname === href || pathname.startsWith(href)
}
---

<nav role="navigation" class={styles.container} aria-label="Main">
  <div class={styles.inner}>
    <a href="/" class={styles.logoLink}>
      <span aria-hidden="true" class={styles.logo}></span>
      <span class={styles.navigationItem}>
        Aaron Russell
      </span>
    </a>
    <div class={styles.controls}>
      <ul class={styles.navigation}>
        <li class={styles.navigationItem}>
          <a href="/" class:list={{ active: isActive('/') }}>Home</a>
        </li>
        <li class={styles.navigationItem}>
          <a href="/blog/" class:list={{ active: isActive('/blog/') }}>Blog</a>
        </li>
        <li class={styles.navigationItem}>
          <a href="/contact/" class:list={{ active: isActive('/contact/') }}>Contact</a>
        </li>
      </ul>
      <ThemeSwitcher />
    </div>
  </div>
</nav>
