---
import styles from './tags.module.css'

type Props = {
  linkToFilter?: boolean
  tags?: string[]
}

const { linkToFilter = false, tags = [] } = Astro.props as Props
---

{
  tags.length > 0 ? (
    <ul class={styles.tags} aria-label="Tags">
      {tags.map((tag: string) => (
        <li>
          {linkToFilter ? (
            <a class={styles.tag} href={`/blog/?topic=${encodeURIComponent(tag)}`}>
              {tag}
            </a>
          ) : (
            <span class={styles.tag}>{tag}</span>
          )}
        </li>
      ))}
    </ul>
  ) : null
}
